.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 350px;
  padding: 10px;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 5px;
}

.home {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  display: flex;
  width: 200px;
  justify-content: space-between;
  flex-direction: row;
}

.btn {
  margin-top: 5px;
  padding: 5px;
}

.logout_btn {
  margin-top: 5px;
  padding: 5px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.card_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
